body{
	background-color: #595959;
}
canvas{
	display: block;
    position: relative;
	margin: auto;
	margin-top: 40px;
	border: 20px solid;
	border-radius: 10px;
	background-image: url(img/fondo.jpg);
	background-size: cover;
}
#reset{
	display: none;
	position: absolute;
	top: 0;
	margin-left: calc(50% - 80px);
    margin-top: 350px;
}
#reset img{
	width: 160px;
	height: auto;
}
#over{
	display: none;
	position: absolute;
	top: 0;
	margin-left: calc(50% - 355px);
    margin-top: 30PX;
}
#over img{
	width: 700px;
	height: auto;
}
#save{
    display: none;
    position: absolute;
    top: 0;
    margin-left: calc(50% - -120px);
    margin-top: 473px;
    color: white;
    background-color: black;
    font-family: "Arial";
    font-weight: bold;
}
#bestScore{
	color: #c6ff1a;
	font-weight: bold;
	font-size: 20px;
	font-family: "Arial";
    margin-top: 50px;
}